<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366796709082-s08ci6s1oqc03vn81sfh7qh211mqki03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366796709082-s08ci6s1oqc03vn81sfh7qh211mqki03</string>
	<key>API_KEY</key>
	<string>AIzaSyD8o6M5XRr9XocMjEE7j3h4-yqmNIt_tyw</string>
	<key>GCM_SENDER_ID</key>
	<string>366796709082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dhruv.hackfinity</string>
	<key>PROJECT_ID</key>
	<string>comed-ebc3d</string>
	<key>STORAGE_BUCKET</key>
	<string>comed-ebc3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366796709082:ios:290bb13ec2f867eb1119e3</string>
	<key>DATABASE_URL</key>
	<string>https://comed-ebc3d.firebaseio.com</string>
</dict>
</plist>